<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Preview" Class="mr-3 mb-n1"/>
            碎碎念预览
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudCard>
            <MudCardContent>
                <div class="preview-content markdown-body" style="background: inherit !important;">
                    @((MarkupString)Html)
                </div>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>

@code {
    [Parameter] public string Html { get; set; }
}