<div class="account-avatar-preview">
    @if (!string.IsNullOrWhiteSpace(Avatar))
    {
        <img src="@Avatar" alt="avatar" loading="lazy"/>
    }
    else
    {
        <div class="account-avatar-preview__empty">
            <i class="fas fa-user-circle"></i>
            暂无头像
        </div>
    }
</div>

@code {
    [Parameter]
    public string Avatar { get; set; } = "";
}