@using System.Net.Http.Headers
@using Microsoft.Extensions.Configuration

@if (!string.IsNullOrEmpty(_editorId))
{
    <div id="markdown-container-@(_editorId)">
        <div id="@_editorId" style="min-height: 600px"></div>
        <input type="hidden" id="txt@(_editorId)" value="@(_baseAddress + UploadAction)"/>
    </div>
}

@code {
    [Parameter] public required string Markdown { get; set; }

    [Parameter] public required string UploadAction { get; set; }

    private readonly string _editorId = Guid.NewGuid().ToString("N");

    private string _baseAddress;

    [Inject] private IConfiguration Configuration { get; set; }

    [Inject] private IJSRuntime JsRuntime { get; set; }

    private static int _number = 0;

    protected override Task OnInitializedAsync()
    {
        _baseAddress = Configuration.GetSection("BaseAddress").Get<string>();
        Console.WriteLine("markdown editor init: {0},ElementId:{1},Markdown:{2}", _number++, _editorId, Markdown);
        return base.OnInitializedAsync();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("createNewEditor", _editorId, Markdown);
        }
    }

    public async Task<string> GetValueAsync()
    {
        return await JsRuntime.InvokeAsync<string>("getMarkdown");
    }

    public Task DisposeAsync()
    {
        return Task.CompletedTask;
    }

}