@inherits LayoutComponentBase


<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8" Width="100%" MaxWidth="500px">
            <img src="/favicon.ico" alt="logo" style="width: 100px;height:100px"/>
            @Body
        </MudPaper>
    </div>
</MudContainer>

@code {
    private readonly MudTheme _currentTheme = new MudBlazorAdminDashboard();
}